<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-purple-400 py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4"
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div>
      <a
        class="my-1 mr-2 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
        href="#"
      >
        <img
          class="mr-2 rounded-lg"
          src="../assets/logoAxity.png"
          style="height: 60px"
          alt=""
          loading="lazy"
        />
        <span class="font-semibold text-lg dark:text-neutral-200"
          >Tasks app</span
        >
      </a>
    </div>
  </div>
</nav>

<main class="flex flex-col items-center mt-5">
  <div class="relative mb-3 xl:w-96" data-te-input-wrapper-init>
    <input
      type="text"
      class="peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
      id="exampleFormControlInputText"
      [(ngModel)]="nameTask"
      (keyup.enter)="addNewTask()"
    />
    <label
      for="exampleFormControlInputText"
      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-purple-400 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
    >
      Enter a task
    </label>
  </div>

  <div>
    <p class="font-semibold text-center" *ngIf="tasks.length === 0">
      There are no pending tasks!
    </p>

    <ul class="w-96 border rounded-md p-2 mt-3 shadow-md">
      <li
        class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50 flex justify-between px-3 items-center"
        *ngFor="let task of tasks; let i = index"
      >
        <!-- <i class="fa-regular fa-circle" (click)="updateTask(task.name)"></i>
        <i class="fa-solid fa-circle-check" style="color: #59b22a;"></i> -->
        <i
          [ngClass]="
            task.state ? 'fa-solid fa-circle-check' : 'fa-regular fa-circle'
          "
          (click)="updateTask(task.id)"
        ></i>
        {{ task.name }}
        <i
          class="fa-solid fa-trash cursor-pointer"
          style="color: #f10404"
          (click)="deleteTask(task.id)"
        ></i>
      </li>
    </ul>
  </div>
</main>
